<img src="https://habrastorage.org/webt/ia/m9/zk/iam9zkyzqebnf_okxipihkgjwnw.jpeg" />
    
**<center>[mlcourse.ai](https://mlcourse.ai) – Open Machine Learning Course** </center><br>
Authors: Arina Lopukhova (@erynn), and [Yury Kashnitsky](https://yorko.github.io) (@yorko). Edited by Vadim Shestopalov (@vchulski). [mlcourse.ai](https://mlcourse.ai) is powered by [OpenDataScience (ods.ai)](https://ods.ai/) © 2017—2022

# <center>Assignment #1. Task </center> <a class="tocSkip">
## <center>Exploratory Data Analysis (EDA) of Olympic games with Pandas </center> <a class="tocSkip">
    
<img src="https://habrastorage.org/webt/my/70/d9/my70d97xhwfj8krp2q2qmn_smww.png" width=50%>

There are ten questions about 120 years of Olympic history in this assignment.

### Your task is to:
 1. write code and perform computations in the cells below;
 2. choose answers in the [webform](https://docs.google.com/forms/d/1SJcNJxnY5Wwb_sDSxmb-FyghraeOt-ZmQMA0XzOLu4I).
 
*If you are sure that something is not 100% correct with the assignment/solution, please leave your feedback via the mentioned webform ↑*

-----

In [79]:
from pathlib import Path

import numpy as np
import pandas as pd

In [80]:
PATH_TO_DATA = Path(r"C:\Users\mhasa\GitHub\deeplearning\keras_dir\mlcourse.ai\bonus_assignments\_static\data\assignment1")

In [81]:
df = pd.read_csv(PATH_TO_DATA / "athlete_events.csv.zip", index_col="ID")
#df.drop_duplicates(inplace=True, subset="Name")
df.head(5)

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
ID,,,,,,,,,,,,,,
1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

 The dataset has the following features:

- __ID__ – Unique number for each athlete
- __Name__ – Athlete's name
- __Sex__ – M or F
- __Age__ – Integer
- __Height__ – In centimeters
- __Weight__ – In kilograms
- __Team__ – Team name
- __NOC__ – National Olympic Committee 3-letter code
- __Games__ – Year and season
- __Year__ – Integer
- __Season__ – Summer or Winter
- __City__ – Host city
- __Sport__ – Sport
- __Event__ – Event
- __Medal__ – Gold, Silver, Bronze, or NA

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 271116 entries, 1 to 135571
Data columns (total 14 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Name    271116 non-null  object
 1   Sex     271116 non-null  object
 2   Age     261642 non-null  float64
 3   Height  210945 non-null  float64
 4   Weight  208241 non-null  float64
 5   Team    271116 non-null  object
 6   NOC     271116 non-null  object
 7   Games   271116 non-null  object
 8   Year    271116 non-null  int64
 9   Season  271116 non-null  object
 10  City    271116 non-null  object
 11  Sport   271116 non-null  object
 12  Event   271116 non-null  object
 13  Medal   39783 non-null   object
dtypes: float64(3), int64(1), object(10)
memory usage: 31.0+ MB

**<font color='red'>Question 1.</font> How old were the youngest male and female participants of the 1992 Olympics?**

- 16 and 15
- 14 and 13 
- 13 and 11
- 11 and 12

In [83]:
# You code here (read-only in a JupyterBook, pls run jupyter-notebook to edit)
df92 = df[df['Year'] == 1992]
df92.groupby(by=["Sex"])["Age"].agg(np.min)

Sex
F    12.0
M    11.0
Name: Age, dtype: float64

**<font color='red'>Question 2.</font> What was the percentage of male basketball players among all the male participants of the 2012 Olympics? Round the answer to the first decimal.**

*Hint:* drop duplicate athletes where necessary to count each athlete just once. This applies to other questions as well.

- 0.2
- 1.5 
- 2.5
- 7.7

In [84]:
# You code here (read-only in a JupyterBook, pls run jupyter-notebook to edit)
df[(df["Year"] == 2012) & (df["Sex"] == "M")]["Sport"].value_counts(normalize=True)

Athletics            0.166221
Swimming             0.107389
Gymnastics           0.065588
Cycling              0.054469
Rowing               0.049683
Shooting             0.046587
Football             0.037579
Canoeing             0.037298
Wrestling            0.037016
Boxing               0.034764
Sailing              0.033357
Judo                 0.032512
Equestrianism        0.030683
Hockey               0.027586
Handball             0.024771
Fencing              0.024068
Water Polo           0.021816
Weightlifting        0.020971
Volleyball           0.020267
Basketball           0.020267
Tennis               0.020267
Table Tennis         0.016467
Archery              0.014075
Diving               0.013089
Badminton            0.012386
Taekwondo            0.009008
Triathlon            0.007741
Beach Volleyball     0.006756
Modern Pentathlon    0.005067
Trampolining         0.002252
Name: Sport, dtype: float64

In [85]:
q = '(Year == 2012) & (Sex == "M")'
# dfquery(q) equals to data[(dfYear == 2012) & (dfSex == 'M')]
sportsmen_count = len(df.query(q).drop_duplicates(subset="Name"))

basketball_count = len(
    df.query(q).query('Sport == "Basketball"').drop_duplicates(subset="Name")
)

print("%.3f" % (basketball_count / sportsmen_count * 100))

2.458

**<font color='red'>Question 3.</font> What are the mean and standard deviation of height for female tennis players who participated in the 2000 Olympics? Round the answer to the first decimal.**

- 171.8 and 6.5
- 179.4 and 10
- 180.7 and 6.7
- 182.4 and 9.1

In [86]:
# You code here (read-only in a JupyterBook, pls run jupyter-notebook to edit)
female2000tennis = df[(df["Sex"] == "F") &
                      (df["Year"] == 2000) &
                      (df["Sport"] == "Tennis")]
mean_height = female2000tennis["Height"].mean()
std_height = female2000tennis["Height"].std()
print(mean_height, std_height)

171.792 6.4586725890776675

**<font color='red'>Question 4.</font> Find the heaviest athlete among 2006 Olympics participants. What sport did he or she do?**

- Judo
- Bobsleigh 
- Skeleton
- Boxing

In [87]:
# You code here (read-only in a JupyterBook, pls run jupyter-notebook to edit)
df2006 = df[df["Year"] == 2006]
highest_weight = df2006["Weight"].max()
heaviest_athlete = df2006[df2006["Weight"] == highest_weight]
heaviest_athlete

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
ID,,,,,,,,,,,,,,
4476,Patrick R. Antaki,M,41.0,185.0,127.0,Lebanon,LIB,2006 Winter,2006,Winter,Torino,Skeleton,Skeleton Men's Skeleton,NaN

**<font color='red'>Question 5.</font> How many times did John Aalberg participate in the Olympics held in different years?**

- 0
- 1 
- 2
- 3

In [89]:
# You code here (read-only in a JupyterBook, pls run jupyter-notebook to edit)
df[df["Name"] == "John Aalberg"].drop_duplicates(subset="Year")["Year"]

ID
7    1992
7    1994
Name: Year, dtype: int64

**<font color='red'>Question 6.</font> How many gold medals in tennis did the Switzerland team win at the 2008 Olympics?**

- 0
- 1 
- 2
- 3

In [91]:
# You code here (read-only in a JupyterBook, pls run jupyter-notebook to edit)
df_new = df[(df["Sport"] == "Tennis") &
            (df["Team"] == "Switzerland") &
            (df["Year"] == 2008) &
            (df["Medal"] == "Gold")]
df_new.head(10)

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
ID,,,,,,,,,,,,,,
34396,Roger Federer,M,26.0,185.0,80.0,Switzerland,SUI,2008 Summer,2008,Summer,Beijing,Tennis,Tennis Men's Doubles,Gold
129042,Stanislas Wawrinka,M,23.0,183.0,79.0,Switzerland,SUI,2008 Summer,2008,Summer,Beijing,Tennis,Tennis Men's Doubles,Gold

In [94]:
q = '(Year == 2008) & (Team == "Switzerland")'
df.query(q).groupby(["Medal", "Sport"]).get_group(("Gold", "Tennis"))

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
ID,,,,,,,,,,,,,,
34396,Roger Federer,M,26.0,185.0,80.0,Switzerland,SUI,2008 Summer,2008,Summer,Beijing,Tennis,Tennis Men's Doubles,Gold
129042,Stanislas Wawrinka,M,23.0,183.0,79.0,Switzerland,SUI,2008 Summer,2008,Summer,Beijing,Tennis,Tennis Men's Doubles,Gold

**<font color='red'>Question 7.</font>  Is it true that Spain won fewer medals than Italy at the 2016 Olympics? Do not consider NaN values in the _Medal_ column.**

- Yes
- No

In [100]:
# You code here (read-only in a JupyterBook, pls run jupyter-notebook to edit)
df2016 = df[(df["Year"] == 2016) &
            ((df["Team"] == "Spain") | (df["Team"] == "Italy"))]
df2016.dropna(inplace=True)
df2016.groupby(by=["Team", "Medal"])["Medal"].count()

C:\Users\mhasa\GitHub\venvs\DeepLearning\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

Team   Medal
Italy  Bronze    24
       Gold       8
       Silver    38
Spain  Bronze    17
       Gold       7
       Silver    19
Name: Medal, dtype: int64

**<font color='red'>Question 8.</font> What are the least and most common age groups among the participants of the 2008 Olympics?**
- [45-55] and [25-35) correspondingly
- [45-55] and [15-25) correspondingly
- [35-45) and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

In [11]:
# You code here (read-only in a JupyterBook, pls run jupyter-notebook to edit)
df2008 = df[df["Year"] == 2008]
bins = pd.IntervalIndex.from_tuples([(0, 15),
                                     (15, 25),
                                     (25, 35),
                                     (35, 45),
                                     (45, 55)])

**<font color='red'>Question 9.</font> Is it true that there were Summer Olympics held in Atlanta? Is it true that there were Winter Olympics held in Squaw Valley?**

- Yes, Yes
- Yes, No
- No, Yes 
- No, No

In [103]:
# You code here (read-only in a JupyterBook, pls run jupyter-notebook to edit)
summer_atlanta = df[(df["Season"] == "Summer") &
                    (df["City"] == "Atlanta")]
print(summer_atlanta.shape)

winter_valley = df[(df["Season"] == "Winter") &
                    (df["City"] == "Squaw Valley")]
print(winter_valley.shape)

(13780, 14)
(1116, 14)

**<font color='red'>Question 10.</font> What is the absolute difference between the number of unique sports at the 1994 Olympics and 2002 Olympics?**

- 3
- 10
- 15 
- 27

In [104]:
# You code here (read-only in a JupyterBook, pls run jupyter-notebook to edit)
df2002 = df[df["Year"] == 2002]
df1994 = df[df["Year"] == 1994]

np.abs(df2002["Sport"].nunique() - df1994["Sport"].nunique())

3