# Naive Bayes ML Algorithm in Python

In [ ]:
# Import the required libraries
import pandas as pd

## Reading the raw dataset

In [2]:
f = r"C:\Users\mhasa\Google Drive\Tutorial Corner\PYTH\PyCharm Projects\PyPlay\naiveBayes\For Students"
df = pd.read_table(f + "\SMSSpamCollection")
df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>ham</th>
      <th>Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>ham</td>
      <td>Ok lar... Joking wif u oni...</td>
    </tr>
    <tr>
      <th>1</th>
      <td>spam</td>
      <td>Free entry in 2 a wkly comp to win FA Cup fina...</td>
    </tr>
    <tr>
      <th>2</th>
      <td>ham</td>
      <td>U dun say so early hor... U c already then say...</td>
    </tr>
    <tr>
      <th>3</th>
      <td>ham</td>
      <td>Nah I don't think he goes to usf, he lives aro...</td>
    </tr>
    <tr>
      <th>4</th>
      <td>spam</td>
      <td>FreeMsg Hey there darling it's been 3 week's n...</td>
    </tr>
  </tbody>
</table>
</div>

## Adding column labels

In [3]:
df = pd.read_table(filepath_or_buffer=f + "\SMSSpamCollection", names=['label', 'sms'])
df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>label</th>
      <th>sms</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>ham</td>
      <td>Go until jurong point, crazy.. Available only ...</td>
    </tr>
    <tr>
      <th>1</th>
      <td>ham</td>
      <td>Ok lar... Joking wif u oni...</td>
    </tr>
    <tr>
      <th>2</th>
      <td>spam</td>
      <td>Free entry in 2 a wkly comp to win FA Cup fina...</td>
    </tr>
    <tr>
      <th>3</th>
      <td>ham</td>
      <td>U dun say so early hor... U c already then say...</td>
    </tr>
    <tr>
      <th>4</th>
      <td>ham</td>
      <td>Nah I don't think he goes to usf, he lives aro...</td>
    </tr>
  </tbody>
</table>
</div>

## One hot encoding the label column for the algorithm

In [4]:
df['label'] = df ['label'].map({'ham': 0, 'spam': 1})
df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>label</th>
      <th>sms</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>Go until jurong point, crazy.. Available only ...</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0</td>
      <td>Ok lar... Joking wif u oni...</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>Free entry in 2 a wkly comp to win FA Cup fina...</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0</td>
      <td>U dun say so early hor... U c already then say...</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0</td>
      <td>Nah I don't think he goes to usf, he lives aro...</td>
    </tr>
  </tbody>
</table>
</div>

## Implementation of Bag of Words - convert doc to word frequency matrix
### 1. convert all texts to lowercase

documents = ['Hello, how are you!',
             'Win money, win from home.',
             'Call me now.',
             'Hello, Call hello you tomorrow?']
             
lower_case_documents = []

for i in documents:
    # TO DO
print(lower_case_documents)

In [5]:
documents = ['Hello, how are you!',
             'Win money, win from home.',
             'Call me now.',
             'Hello, Call hello you tomorrow?']

lower_case_documents = []

for i in documents:
    lower_case_documents.append(i.lower())
print(lower_case_documents)

['hello, how are you!', 'win money, win from home.', 'call me now.', 'hello, call hello you tomorrow?']

### 2. Removing punctuation from documents

sans_punctuation_documents = []

for i in lower_case_documents:
    # TODO
    
print(sans_punctuation_documents)

In [6]:
sans_punctuation_documents = []

import string

for i in lower_case_documents:
    no_punctutation_sentence = "".join([ch for ch in i if ch not in string.punctuation ])
    sans_punctuation_documents.append(no_punctutation_sentence)
    
print(sans_punctuation_documents)

['hello how are you', 'win money win from home', 'call me now', 'hello call hello you tomorrow']

### 3. Tokenize the strings stored in 'sans_punctuation_documents' using the split() method

preprocessed_documents = []

for i in sans_punctuation_documents:
    # TODO
print(preprocessed_documents)

In [7]:
preprocessed_documents = []

for i in sans_punctuation_documents:
    preprocessed_documents.append(i.split(" "))
print(preprocessed_documents)

[['hello', 'how', 'are', 'you'], ['win', 'money', 'win', 'from', 'home'], ['call', 'me', 'now'], ['hello', 'call', 'hello', 'you', 'tomorrow']]

### 4. Use the Counter class to create a frequency map of words in the preprocessed documents list

In [8]:
from collections import Counter

In [9]:
for word_list in preprocessed_documents:
    print(Counter(word_list))

Counter({'hello': 1, 'how': 1, 'are': 1, 'you': 1})
Counter({'win': 2, 'money': 1, 'from': 1, 'home': 1})
Counter({'call': 1, 'me': 1, 'now': 1})
Counter({'hello': 2, 'call': 1, 'you': 1, 'tomorrow': 1})

### 5. Implementing Bag of Words in scikit-learn using the dummy document list

In [10]:
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
cv = CountVectorizer()
cv.fit(documents)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

### 6. Create a tokenised array of the vectorised document

## Implementing the Naive Bayes Algorithm using scikit-learn

## Implementing Bag of Words to our dataset, fitting it to Naive Bayes Algorithm and making predictions